.customTable {
  width: 100%;
  // min-height: 500px;
  text-align: center;

  thead {
    text-align: center;
    background-color: grey;

    th {
      background-color: rgb(184, 184, 184);
      white-space: nowrap;
      min-width: 100px;
      text-align: center;
      padding: 10px 20px;
    }
  }

  tr.redRow td {
    background-color: #ff959f;
  }

  button {
    background: rgb(20, 69, 175);
    color: white;
    border-radius: 5px;

    &:hover,
    &:active,
    &:focus {
      color: white;
      background: rgb(20, 69, 175);
    }
  }

  .centerRow {
    text-align: center;
  }

  .red {
    width: fit-content;
    background-color: #dc3545;
  }

  .centerActions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

.paginationContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
