@import "../../../Abstract/font";

.changePassword {
  width: 100%;
  form {
    h1 {
      font-size: 30px;
      text-align: center;
      font-family: $lato;
      font-weight: bold;
    }

    .updateBtnContainer {
      margin: 10px 200px;
      width: 100%;

      @media screen and (max-width: 768px) {
        margin: 10px 0%;

        button {
          width: 100%;
        }
      }
    }
  }
}
