.rightBtnContainer {
  width: 100%;
  display: flex;
  justify-content: right;
}

.rdw-editor-main {
  min-height: 500px;
}

.getAKitTitle {
  color: #fff;
  font-size: 20px;
  padding: 10px;
  background-color: rgb(0, 87, 158);
}
