@import "../../Abstract/font";

.customInput {
  display: flex;
  margin: 0;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  label {
    font-family: $lato;
    font-size: 20px;
    min-width: 200px;
  }

  .inputMsg {
    input {
      min-width: 100%;
      margin: 10px 0;
      padding: 10px;
      border: 1px solid rgba(128, 128, 128, 0.548);
      border-radius: 3px;

      @media screen and (max-width: 768px) {
        width: 100%;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.loginField {
  flex-direction: column;
  label {
    font-family: $lato;
    font-size: 20px;
  }
  .inputMsg {
    margin-bottom: 20px;
    input {
      padding: 0;
      margin: 10px 0;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid rgba(128, 128, 128, 0.548);
      font-size: 20px;
      border-radius: 0;

      &:focus {
        outline: none;
      }
    }
  }
}

.formInput {
  @media screen and (max-width: 768px) {
    margin: 0;
  }
  label {
    font-weight: bold;
    margin: 15px 0;
    min-width: 300px;
    @media screen and (max-width: 768px) {
      margin: 0;
    }
  }

  .inputMsg {
    width: 100%;

    input {
      min-width: 300px;

      @media screen and (max-width: 768px) {
        min-width: 100%;
        width: 100%;
      }
    }
  }
}

.formInputModal {
  display: flex;

  label {
    font-weight: bold;
    margin: 12px 0;
    max-width: 200px;
    word-wrap: break-word;
    white-space: pre-line;
    // margin-right: 10px;

    @media screen and (max-width: 768px) {
      margin: 0;
    }
  }

  .inputMsg {
    width: 100%;
  }
}

.formInputModalHousehold {
  display: flex;

  @media screen and (max-width: 992px) {
    flex-direction: column;
  }

  label {
    font-weight: bold;
    margin: 12px 0;
    min-width: 350px;
    word-wrap: break-word;
    white-space: pre-line;
    margin-right: 10px;

    @media screen and (max-width: 768px) {
      margin: 0;
    }
  }

  .inputMsg {
    width: 100%;
  }
}

.formInputModalHouseholdCharacteristics {
  display: flex;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }

  label {
    font-weight: bold;
    margin: 12px 0;
    min-width: 500px;
    word-wrap: break-word;
    white-space: pre-line;
    margin-right: 10px;

    @media screen and (max-width: 768px) {
      margin: 0;
    }
    @media screen and (max-width: 1000px) {
      min-width: 100%;
    }
  }

  .inputMsg {
    width: 100%;
  }
}

.formInputModalAddHouseholdMember {
  display: flex;

  @media screen and (max-width: 992px) {
    flex-direction: column;
  }

  label {
    font-weight: bold;
    margin: 12px 0;
    min-width: 500px;
    word-wrap: break-word;
    white-space: pre-line;
    margin-right: 15px;

    @media screen and (max-width: 768px) {
      margin: 0;
    }
  }

  .inputMsg {
    width: 100%;
  }
}

.formInputModalHouseholdMemberName {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    font-weight: bold;
    // margin: 12px 0;
    // max-width: 200px;
    width: 100%;
    // background-color: aqua;
    word-wrap: break-word;
    white-space: pre-line;
    // margin-right: 10px;
    margin: 0;
    @media screen and (max-width: 768px) {
      margin: 0;
    }
  }

  .inputMsg {
    width: 100%;
  }
}

.formInputBlockModal {
  display: flex;
  flex-direction: column;

  label {
    font-weight: bold;
    // margin: 15px 0;

    @media screen and (max-width: 768px) {
      margin: 0;
    }
  }
  .inputMsg {
    width: 100%;
  }
}

.separatelabelForm {
  font-weight: bold;
  margin: 12px 0;
  word-wrap: break-word;
  white-space: pre-line;
  margin-right: 10px;
  font-family: $lato;
  font-size: 20px;
}

.long {
  min-width: 300px;
}

#surveyForm {
  #surveyTable {
    th {
      background-color: rgb(190, 190, 190);
      font-size: 20px;
      min-width: 300px;
      padding: 30px 0;
      margin: auto;
    }
  }
  .inputSurvey {
    display: block;
    width: 100%;
  }

  .selectSurvey {
    .inputMsg {
      display: block;
      width: 100%;

      select {
        width: 100%;
      }
    }
  }
}
