@import "../../Abstract/font";

.customSelect {
  display: flex;
  margin: 5px 0;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  label {
    font-family: $lato;
    font-size: 20px;
  }

  select {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.548);
    border-radius: 3px;

    &:focus {
      outline: none;
    }
  }
}

.formSelect {
  label {
    font-weight: bold;
    margin: 10px 0;
    min-width: 200px;
  }

  select {
    width: 300px;

    @media screen and (max-width: 768px) {
      // min-width: 100%;
      width: 100%;
    }
  }
}

.formSelectModal {
  display: flex;
  justify-content: space-between;

  label {
    font-weight: bold;
    margin: 15px 0;

    @media screen and (max-width: 768px) {
      margin: 0;
    }
  }

  select {
    width: 267px;

    @media screen and (max-width: 768px) {
      // min-width: 100%;
      width: 100%;
    }
  }
}

.formSelectBlockModal {
  display: flex;
  // justify-content: space-between;
  flex-direction: column;

  label {
    font-weight: bold;
    // margin: 15px 0;

    @media screen and (max-width: 768px) {
      margin: 0;
    }
  }

  select {
    width: 100%;
  }
}

.reportContent {
  margin: 30px 0;
  width: 100%;

  .selectReport {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      text-align: center;
      font-weight: bold;
    }
    select {
      width: 800px;

      @media screen and (max-width: 768px) {
        width: 300px;
      }

      @media screen and (max-width: 363px) {
        width: 100%;
      }
    }
  }
}
