@import "../../Abstract/font";

.customContainer {
  padding: 10px 0;
  h1 {
    font-family: $lato;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
  }

  .content {
    padding: 0 10px;
  }
}

.reports {
  min-height: calc(100vh - 5.8vh);
  padding: 20px;
  width: 100%;
  background-color: rgb(248, 248, 248);

  h1 {
    text-align: center;
  }
}

.evacuationForecast {
  min-height: calc(100vh - 5.8vh);
  padding: 20px;
  width: 100%;
  background-color: rgb(248, 248, 248);
}

.checkboxGroups {
  display: flex;
  @media screen and (max-width: 1400px) {
    flex-direction: column;
  }
  .checkboxGroupsInner {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    @media screen and (max-width: 1400px) {
      flex-direction: column;
    }

    .errCheckDiv {
      width: 100%;
    }
  }

  label {
    font-family: $lato;
    font-size: 20px;
    font-weight: bold;
    min-width: 300px;
    margin: 15px 0;
  }

  // input[type="checkbox"] {
  //   margin-right: 10px;
  // }
}
