.sidebar {
  display: block;
  width: 350px;
  padding: 10px 20px;
  background-color: rgb(20, 69, 175);
  color: #fff;

  @media screen and (max-width: 818px) {
    position: fixed;
    top: 12%;
    // bottom: 0;
    // left: 0;
    z-index: 999;
    height: 100vh;
  }

  @media screen and (max-width: 500px) {
    width: 100%;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  .menuContainer {
    display: flex;
    flex-direction: column;
    gap: 13px;
    justify-content: center;

    .menu {
      display: flex;
      gap: 5px;
      flex-direction: column;

      .menuItems {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        font-size: 23px;
      }

      .highlighted {
        color: yellow;
      }

      .subLabel {
        padding: 0px 20px;
        font-size: 23px;
      }

      .highlighted {
        color: yellow;
      }
    }
  }
}

// .hide {
//   display: none;
// }
