.navbar {
  display: flex;
  --bs-navbar-padding-y: 0;

  @media screen and (max-width: 818px) {
    position: fixed;
    top: 0;
    // bottom: 0;
    // left: 0;
    z-index: 999;
    // height: 100vh;
    background-color: #fff;
    width: 100%;
  }

  @media screen and (max-width: 500px) {
    padding: 16px 0;
  }

  .navbarBrand {
    padding: 0 20px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 30px;

    h1 {
      font-size: 20px;
    }

    .faBars {
      cursor: pointer;
    }

    img {
      width: 250px;
    }

    .brgName {
      width: 280px;
      //   background-color: aqua;

      @media screen and (max-width: 1130px) {
        display: none;
      }
    }
  }

  .navbarUserInfo {
    width: fit-content;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 10px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    p {
      @media screen and (max-width: 818px) {
        display: none;
      }
    }

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      @media screen and (max-width: 500px) {
        display: none;
      }
    }
  }
}
